<%
  locale_obj = locals[:locale_obj] || current_locale_obj

  # The entire "button" gets spread into here.
  # Fields:
  # color, title (=text), text, url

  # Don't localize the url if it looks like `https://` or `#anchor-tag`
  url = if locals[:url].match(/^(http:|https:)?\/\//) || locals[:url].match(/^#/)
    locals[:url]
  else
    localize_url(locals[:url], locale_id: locale_obj[:id])
  end

  classes = ['btn', 'btn--solid ', "btn--#{locals[:color] || 'secondary' }", 'section__button']
  classes << 'hero__button' if locals[:hero]
%>

<a
  href="<%= url %>"
  class="<%= classes.join(' ') %>"
  title="<%= locals[:title] || locals[:text] %>"
  <%= is_remote_url?(locals[:url]) ? "target='_blank'" : '' %>
  <%= is_third_party_url?(locals[:url]) ? "rel='noopener noreferrer'" : '' %>
>
  <%= partial 'partials/components/markdown', locals: { markdown: locals[:text], inline: true } %>
</a>
