<header class="masthead masthead_tier masthead_blank" tabindex="0" role="banner">
  <div class="masthead_nav_wrapper">
    <div class="container">
      <nav role="navigation" class="nav">
        <a href="<%= localize_url(locale_id: locale_obj[:id]) %>" id="site_logo" title="<%= locale_page(page: 'index', locale_obj: locale_obj)[:page_title] %>">
          <img src="<%=image_path('logos/logo.svg')%>" alt="<%= locale_obj[:default_title] %>" class="site_logo">
        </a>

        <%= partial "partials/navigation_in_header", locals: { locale_obj: locale_obj } %>
      </nav>
    </div>
  </div>
</header>

<%= partial "partials/main_nav", locals: { locale_obj: locale_obj } %>
