<header class="masthead masthead_tier masthead_blank" tabindex="0" role="banner">
  <div class="masthead_nav_wrapper">
    <div class="container">
      <nav role="navigation" class="nav">
        <img src="<%=image_path('logos/logo.svg')%>" alt="<%= locale_obj[:default_title] %>" class="site_logo">

        <%= partial "partials/navigation_in_header", locals: { locale_obj: locale_obj } %>
      </nav>
    </div>
  </div>
</header>

<div class="container index-hero">
  <img
    src="<%= image_path('devices@1200w.png') %>"
    srcset="<%= image_path('devices.png') %> 2x"
    alt="<%= locale_obj[:default_title] %>"
    class="index-hero__image"
  />

  <div class="index-hero__text">
    <h1 class="index-hero__title">Become a Better Investor</h1>

    <h2 class="index-hero__intro">
      <%= locale_page(page: 'index', locale_obj: locale_obj)[:tagline] %>
    </h2>

    <a href="<%= config[:signup_url] %>" class="index-hero__button btn btn--solid btn--secondary" title="Sign up for Sharesight">
      GET STARTED – <strong>FOR FREE</strong>
    </a>
  </div>
</div>

<%= partial "partials/main_nav", locals: { locale_obj: locale_obj } %>
