<%# NOTE: Only the FIRST Navigation should have a tabindex="0" all else should be "-1" %>
<ul class="nav__menubar" role="menubar" aria-label="Sharesight Navigation Menu">
  <li class="nav__menubar-item" role="none">
    <button class="nav__menubar-button" aria-controls="menu-features" aria-haspopup="true" aria-expanded="false" id="nav-features" tabindex="0">
      Features

      <%= partial "partials/header/caret" %>
    </button>

    <div class="nav__menu menu" role="menu" aria-labelledby="nav-features" id="menu-features">
      <div class="menu__row">
        <div class="menu__half">
          <div class="menu__title" role="separator">Features</div>

          <%= partial "partials/header/link", locals: {
            compact: true,
            icon: 'trend-up',
            icon_hover: 'chart-line-up-bold',
            title: 'Performance',
            href: '/TODO',
          } %>

          <%= partial "partials/header/link", locals: {
            compact: true,
            icon: 'coin',
            title: 'Dividends',
            href: '/TODO',
          } %>

          <%= partial "partials/header/link", locals: {
            compact: true,
            icon: 'receipt',
            icon_hover: 'article-fill',
            title: 'Tax Reporting',
            href: '/TODO',
          } %>
        </div>

        <div class="menu__half">
          <div class="menu__title" role="separator">What we Track</div>

          <%= partial "partials/header/link", locals: {
            compact: true,
            icon: 'squares-four',
            icon_hover: 'grid-four-fill',
            title: 'Supported Investments',
            href: '/TODO',
          } %>

          <%= partial "partials/header/link", locals: {
            compact: true,
            icon: 'globe-hemisphere-west',
            icon_hover: 'globe-hemisphere-east-fill',
            title: 'Supported Exchanges',
            href: '/TODO',
          } %>

          <%= partial "partials/header/link", locals: {
            compact: true,
            icon: 'bank',
            title: 'Supported Brokers',
            href: '/TODO',
          } %>
        </div>
      </div>

      <div class="menu__row menu__background">
        <div class="menu__half">
          <%= partial "partials/header/link", locals: {
            icon: 'question',
            title: 'Frequently Asked Questions',
            href: '/faq',
          } %>
        </div>

        <div class="menu__half">
          <%= partial "partials/header/link", locals: {
            icon: 'shield',
            icon_hover: 'shield-check-fill',
            title: 'Data Security',
            href: '/TODO',
          } %>
        </div>
      </div>
    </div>
  </li>

  <li class="nav__menubar-item" role="none">
    <button class="nav__menubar-button" aria-controls="menu-benefits" aria-haspopup="true" aria-expanded="false" id="nav-benefits" tabindex="0">
      Benefits

      <%= partial "partials/header/caret" %>
    </button>

    <div class="nav__menu menu" role="menu" aria-labelledby="nav-benefits" id="menu-benefits">
      <%= partial "partials/header/link", locals: {
        icon: 'user',
        title: 'Investors',
        href: '/TODO',
        description: 'Over 150,000 Investors around the world track their portfolios with Sharesight.'
      } %>

      <%= partial "partials/header/link", locals: {
        compact: true,
        title: 'Read the Reviews',
        href: '/reviews',
      } %>

      <%= partial "partials/header/link", locals: {
        icon: 'users',
        title: 'Finance Professionals',
        href: '/TODO',
        description: 'Use Sharesight Pro to grow your business.'
      } %>

      <%= partial "partials/header/link", locals: {
        icon: 'buildings',
        title: 'Finance Companies',
        href: '/TODO',
        description: 'Partner with Sharesight and grow your business.'
      } %>

    </div>
  </li>

  <li class="nav__menubar-item" role="none">
    <a class="nav__menubar-button" href="<%= localize_url('pricing', locale_id: locale_obj[:id]) %>" title="<%= locale_page(page: 'pricing', locale_obj: locale_obj)[:page_title] %>" tabindex="0">
      Pricing
    </a>
  </li>

  <li class="nav__menubar-item" role="none">
    <button class="nav__menubar-button" aria-controls="menu-resources" aria-haspopup="true" aria-expanded="false" id="nav-resources" tabindex="0">
      Resources

      <%= partial "partials/header/caret" %>
    </button>

    <div class="nav__menu menu menu--lg" role="menu" aria-labelledby="nav-resources" id="menu-resources">
      <div class="menu__row">
        <div class="menu__column">
          <div class="menu__title" role="separator">Company</div>

          <%= partial "partials/header/link", locals: {
            compact: true,
            icon: 'magnifying-glass',
            title: 'About Sharesight',
            href: '/TODO',
          } %>

          <%= partial "partials/header/link", locals: {
            compact: true,
            icon: 'user-rectangle',
            title: 'Executive Team',
            href: '/TODO',
          } %>

          <%= partial "partials/header/link", locals: {
            compact: true,
            icon: 'briefcase',
            title: 'Careers',
            href: '/TODO',
          } %>

          <%= partial "partials/header/link", locals: {
            compact: true,
            icon: 'megaphone-simple',
            title: 'Media Center',
            href: '/TODO',
          } %>

          <%= partial "partials/header/link", locals: {
            compact: true,
            icon: 'smiley',
            icon_hover: 'smiley-wink-fill',
            title: 'Reviews',
            href: '/TODO',
          } %>
        </div>

        <div class="menu__column">
          <div class="menu__title" role="separator">Work with Us</div>

          <%= partial "partials/header/link", locals: {
            compact: true,
            icon: 'identification-card',
            title: 'Partner Directory',
            href: '/TODO',
          } %>

          <%= partial "partials/header/link", locals: {
            compact: true,
            icon: 'handshake',
            title: 'Become a Partner',
            href: '/TODO',
          } %>

          <%= partial "partials/header/link", locals: {
            compact: true,
            icon: 'share-network',
            icon_hover: 'fire-fill',
            title: 'Become an Affiliate',
            href: '/TODO',
          } %>

          <%= partial "partials/header/link", locals: {
            compact: true,
            icon: 'envelope-simple',
            icon_hover: 'envelope-simple-open',
            title: 'sales@sharesight.com',
            href: 'mailto:sales@sharesight.com',
          } %>
        </div>

        <div class="menu__column">
          <div class="menu__title" role="separator">Resources</div>

          <%= partial "partials/header/link", locals: {
            compact: true,
            icon: 'info',
            title: 'Help Centre',
            href: '/TODO',
          } %>

          <%= partial "partials/header/link", locals: {
            compact: true,
            icon: 'code',
            title: 'Sharesight API',
            href: '/TODO',
          } %>

          <%= partial "partials/header/link", locals: {
            compact: true,
            icon: 'monitor-play',
            icon_hover: 'monitor-fill',
            title: 'Events & Webinars',
            href: '/TODO',
          } %>
        </div>
      </div>

      <div class="menu__background menu__blog">
        <a class="menu__label menu__title" role="separator" href="/blog">
          <i class="ph-pencil-circle menu__icon" role="img" aria-label="From the Blog"></i>
          <span class="menu__label-text">From the Blog</span>
        </a>

        <% data.blog.posts.values.first(3).each do |blog_post| %>
          <%= partial "partials/header/link", locals: {
            title: blog_post[:title],
            href: post_url(blog_post),
            truncate: 75,
            compact: true
          } %>
        <% end %>
      </div>
    </div>
  </li>
</ul>
