<%
  link = locals[:link]
  mobile = !!locals[:mobile]

  show_description = !!(!mobile && link[:description])

  classes = ['menu__link']
  classes << 'menu__link--compact' if !show_description

  # NOTE: `icon_hover` should not include `ph-`
  icon_hover = link[:icon_hover] || "#{link[:icon]}-fill"
%>

<a href="<%= link[:href] %>" role="menuitem" title="<%= link[:title] %>" class="<%= classes.join(' ') %>" tabindex="0">
  <span class="menu__label <%= "menu__label--no-icon" unless link[:icon] %>">
    <% if link[:icon] %>
      <i class="ph-<%= link[:icon] %> menu__icon" data-ph-hover="<%= "ph-#{icon_hover}" %>" role="img" aria-label="<%= link[:title] %>"></i>
    <% end %>

    <span class="menu__label-text"><%= link[:label] || link[:title] %></span>

    <%= partial "partials/components/arrow" %>
  </span>

  <% if show_description %>
    <div class="menu__description"><%= link[:description] %></div>
  <% end %>
</a>
