<%
  classes = ['menu__link']
  classes << 'menu__link--compact' if locals[:compact]

  text = locals[:title]
  text = BasicHelper.truncate(text, locals[:truncate]) if locals[:truncate]
%>

<a href="<%= locals[:href] %>" role="menuitem" title="<%= locals[:title] %>" class="<%= classes.join(' ') %>" tabindex="0">
  <span class="menu__label <%= "menu__label--no-icon" unless locals[:icon] %>">
    <% if locals[:icon] %>
      <i class="ph-<%= locals[:icon] %> menu__icon" data-ph-hover-weight="bold" role="img" aria-label="<%= locals[:title] %>"></i>
    <% end %>

    <%= text %>
    <%= partial "partials/components/arrow" %>
  </span>

  <% if locals[:description] %>
    <div class="menu__description"><%= locals[:description] %></div>
  <% end %>
</a>
