<%
  # NOTE: Body must have a yield.  It will not function without.
  locale_obj = locals[:locale_obj] || current_locale_obj

  page_classes = locals[:page_classes] || current_page.data.page_classes
  section_class = locals[:section_class] || current_page.data.section_class
  body_class = [page_classes, section_class].join(' ').strip

  include_campaign_monitor = locals[:include_campaign_monitor] || current_page.data.include_campaign_monitor
%>

<body class="<%= body_class %>">
  <%= partial "layouts/partials/noscript" %>
  <script>document.body.className += ' js_menu_closed';</script>

  <%= partial "layouts/partials/country_banner", locals: { locale_obj: locale_obj } %>

  <a role="button" href="#main-area" class="a11y-button btn btn--solid btn--secondary">Skip to Main Content</a>

  <%= partial 'partials/header', locals: locals.merge({ locale_obj: locale_obj }) %>

  <% if locals[:hero] %>
    <%= partial locals[:hero], locals: locals.merge({ locale_obj: locale_obj }) %>
  <% end %>

  <main role="main" id="main-area" aria-label="Main Content">
    <%= yield %>
  </main>

  <%= partial "partials/site_footer", locals: locals.merge({ locale_obj: locale_obj }) %>

  <% if content_for?(:javascript) %>
    <%= yield_content :javascript %>
  <% end %>

  <% if include_campaign_monitor %>
    <%# Include createsend // campaignmonitor for the Subscribe button %>
    <script type="text/javascript">(function () { var e = document.createElement('script'); e.type = 'text/javascript'; e.async = true; e.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://btn.createsend1.com/js/sb.min.js?v=3'; e.className = 'createsend-script'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s); })();</script>
  <% end %>
</body>
