<%
  # NOTE: Body must have a yield.  It will not function without.
  locale_obj = locals[:locale_obj] || current_locale_obj

  page_classes = locals[:page_classes] || current_page.data.page_classes
  section_class = locals[:section_class] || current_page.data.section_class
  body_class = [page_classes, section_class].join(' ').strip
%>

<body class="<%= body_class %>">
  <script>document.body.className += ' js_menu_closed';</script>

  <%= partial "layouts/partials/country_banner", locals: { locale_obj: locale_obj } %>

  <a role="button" href="#main-area" class="a11y-button btn btn--solid btn--secondary">Skip to Main Content</a>

  <%= partial 'partials/header/navigation', locals: locals.merge({ locale_obj: locale_obj }) %>

  <% if locals[:hero] %>
    <%= partial locals[:hero], locals: locals.merge({ locale_obj: locale_obj }) %>
  <% end %>

  <main role="main" id="main-area" aria-label="Main Content">
    <%= yield %>
  </main>

  <%= partial "partials/site_footer", locals: locals.merge({ locale_obj: locale_obj }) %>

  <% if content_for?(:javascript) %>
    <%= yield_content :javascript %>
  <% end %>

  <%= partial "layouts/partials/noscript", locals: locals %>
  <%= partial "layouts/partials/body_js", locals: locals %>
</body>
