---
page_classes: 'page_about_us blog_page'
section_class: 'section_blog'
individual_page: true
layout: blog_post
include_campaign_monitor: true
---
<% locale_obj = locals[:locale_obj] || current_locale_obj %>

<%= partial "partials/site_header", locals: { locale_obj: locale_obj } %>

<div class="blog_page_wrapper blog_page blog">
  <div class="container blog-table blog_content_contained">
    <div class="blog_content">
      <div class="blog_content_container">
        <div class="blogpost">
          <a href="<%= unlocalized_url('blog') %>" class="breadcrumb" title="Sharesight Blog">Blog</a>
          <h1><%=post[:title]%></h1>

          <div class="meta">
            <% post[:created_at] = Time.now if post[:created_at].blank? %>
            <small class="blog-post-date">
              <%# Displaying created_at in the config timezone offset %>
              <% created_at = post[:created_at].in_time_zone(config[:display_timezone]) %>
              <%= created_at.strftime("#{created_at.day}<sup>#{created_at.day.ordinal}</sup> %B %Y") %>
            </small>
            <small>by <%= post.author.display_name %><%=post.author[:title].present? ? ", #{post.author[:title]}" : ''%><%=post.author[:company].present? ? ", #{post.author[:company]}" : ''%></small>

            <div class="addthis_inline_share_toolbox"></div>
          </div>

          <%= Kramdown::Document.new(post[:content].gsub('.png)', '.png?w=950)').gsub('.jpg)', '.jpg?w=950)')).to_html.html_safe %>
          <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
        </div>
      </div>
    </div>

    <div class="blog-column">
      <%=partial 'blog/partials/blog_menu', locals: {locale_id: locale_obj[:id], category_name: "All", on_individual_page: true, footer: false} %>
    </div>

    <%=partial 'blog/partials/blog_menu', locals: {locale_id: locale_obj[:id], category_name: "All", on_individual_page: true, footer: true} %>
  </div>
</div>
