---
page_classes: 'section_home'
section_class: 'section_home'
layout: layout_index
---
<%
  locale_obj = locals[:locale_obj] || current_locale_obj
  plans = locale_plans(locale_obj[:id])
%>

<section class="alternate layout-lrg xero">
  <div class="container layout-container">
    <h2 tabindex="0">Lose the spreadsheet</h2>
    <p class="paragraph_compact paragraph_center">
      Keeping track of investments used to be a hassle. Sharesight makes it simple. Want automatic holding updates, with comprehensive tax and performance reporting, wrapped up in an easy-to-use, fully online system? That’s Sharesight in a nutshell.
    </p>

    <div class="table">
      <div class="row">
        <% entries = data.seo_home.find { |entry| entry.id == locale_obj[:id] } %>
        <% entries&.columns.each do |col| %>
          <div class="cell card card_cursive card_plain">
            <%=image_tag "icons/#{col.icon}.svg", class: "icon" %>
            <h3 class="heading"><%=col.title%></h3>
            <p><%=col.description%></p>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</section>

<%= partial "sections/pricing", locals: { locale_obj: locale_obj } %>
<%= partial "sections/partners", locals: { locale_obj: locale_obj } %>

<%= partial "sections/testimonials", locals: {
  json: data.testimonials,
  testimonial_heading: data.seo_home.find{|x| x[:id] == locale_obj[:id] }[:testimonial_heading],
  customer_type: 'Sharesight',
  locale_obj: locale_obj
} %>

<div class="section section_text section_video">
  <div class="container">
    <h2 class="heading_normal heading_light">Sharesight – we're real people, filling a real need. <a href="<%= localize_url('about-sharesight', locale_id: locale_obj[:id]) %>" class="expert section_text_link" title="<%= locale_page(page: 'about-sharesight', locale_obj: locale_obj)[:page_title] %>"><strong>Learn more about Sharesight…</strong></a></h2>
  </div>

  <div class="container container_video">
    <%= partial "partials/video" %>
  </div>
</div>

<%= partial "sections/as_featured_in", locals: { locale_obj: locale_obj }  %>
