---
page_classes: ''
section_class: 'section_default'
---
<% locale_obj = locals[:locale_obj] || current_locale_obj %>

<div class="team__background">
  <div class="team__container">
    <section class="team__intro">
      <h1>Executive Team</h1>
    </section>

    <section class="team__executives">
      <% data.team.executives.each do |executive| %>
        <div class="team__executive">
          <div class="executive__image-container">
            <img src="<%= image_path(executive[:image]) %>" alt="<%= executive[:name] %>" class="executive__image" />
          </div>

          <div class="executive__text">
            <p class="executive__name"><%= executive[:name] %></p>
            <p class="executive__title">
              <%= executive[:title] %>

              <% if executive[:linkedin] %>
                <a href="<%= executive[:linkedin] %>" alt="<%= executive[:name] %> on LinkedIn">
                  <img src="<%= image_path("/img/icons/linkedin-black.svg") %>" alt="<%= executive[:name] %> on LinkedIn" class="executive__icon" />
                </a>
              <% end %>
              <% if executive[:twitter] %>
                <a href="<%= executive[:twitter] %>" alt="<%= executive[:name] %> on Twitter">
                  <img src="<%= image_path("/img/icons/twitter-black.svg") %>" alt="<%= executive[:name] %> on Twitter" class="executive__icon" />
                </a>
              <% end %>
            </p>

            <%= Kramdown::Document.new(executive[:biography]).to_html.html_safe %>
          </div>
        </div>
      <% end %>
    </section>
  </div>
</div>
